.btn {
  margin-top: 60px;
  font-weight: 300;
  font-size: 24px;
  padding: 20px 40px;
  border: 2px solid $white;
  color: $white;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 28px;
  border-radius: 0;

  &:hover {
    background-color: $white;
    color: $black;
  }
}
