#about {
  .content {
    h1 {
      color: #fff;
      text-decoration: underline;
      font-weight: 600;
      font-size: 38px;
      line-height: 30px;
      letter-spacing: 5px;
      margin-top: 45px;
      text-align: center;
    }
    .text {
      font-size: 18px;
      letter-spacing: 1px;
      line-height: 30px;
    }
  }
}
.trainers {
  text-align: justify;
  h1 {
    font-size: 28px;
    line-height: 40px;
    padding: 30px 0;
    font-weight: 200;
    text-align: center;
  }
  &-container {
    padding: 15px;
  }
  &-img {
    img{
      max-width: 100%;
    }
  }
  &-name {
    font-weight: 300;
    font-size: 25px;
    text-align: center;
  }
  &-desc {
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
  }
  &-contact {
    font-size: 18px;
    margin: 25px 0;
    font-style: italic;
    letter-spacing: 1px;
    line-height: 28px;
    font-weight: 100;
    text-align: right;
  }
}
.slider {
  background-color: #fff;

  .item {
    background-color: #fff;
    opacity: 0.7;
    height: 100px;
    position: relative;
    img {;
      max-height: 100%;
      max-width: fit-content;
      margin: auto;
    }
    &:hover {
      opacity: 1;
    }
  }
}
