.text-page {


}

.group {
  &-list {
    list-style: none;
  }
  &-item {

  }
  &-container {
    position: relative;

    i {
      border-width: 0 1px 1px 0;
      padding: 5px;
      top: 15px;
      left: 100%;
    }
  }
  &-age {
    font-weight: 100;
    font-size: 24px;
    font-style: italic;
    line-height: 35px;
  }
  &-description {
    font-weight: 300;
    font-size: 18px;
    line-height: 35px;
    padding: 15px;
  }
}
