.textpage {
  text-align: justify;
  &-title {

    font-weight: 100;
    font-size: 36px;
    line-height: 50px;
  }
  &-date {
    font-weight: 100;
    font-size: 12px;
    letter-spacing: 2px;
  }
  &-text {
    font-size: 18px;
    line-height: 31px;
    font-weight: 200;
    letter-spacing: 1px;
    img {
      float: left;
      margin-right: 25px;
    }
  }
}
