.c8 {
  width: 66.66%;
}
.c4 {
  width: 33.33%;
}
#calendar { padding: 0 15px;
 .one-day {
   width: 100%;
 }
}

.slider .item img {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
@media screen and (max-width: 768px) {
  #header {
    background-position: center;
  }
  h1 {
    color: #fff;
    font-size: 35px;
    line-height: 30px;
    letter-spacing: 1px;
    margin-top: 30px;
  }
  .content {
    .text-page {
      padding: 0 20px;
      .title {
        padding: 20px;
      }
      .text {
        font-size: 18px;
        letter-spacing: 1px;
        line-height: 30px;
      }
    }
  }
  .btn {
    margin-top: 30px;
    font-weight: 300;
    font-size: 18px;
    padding: 15px 30px;
    border: 2px solid #fff;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 28px;
    border-radius: 0;
  }
  .footer {
    .col-md-12 {
      text-align: center;
    }

  }
  .one-item {
    flex-flow: wrap;
  }
  .c8 {
    width: 100%;
  }
  .c4 {
    width: 100%;
  }
  .group-list {
    list-style: none;
    padding: 0 10px;
    margin: 0 10px;
  }

  //gallery

  .gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
  }

  .gallery__item--2 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 5;
  }

  .gallery__item--3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 9;
  }

  .gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 9;
  }


  .gridgallery {
    &.reverse {
      margin-top: 15px;
      .gallery__item--1 {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 5;
      }

      .gallery__item--2 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 5;
      }

      .gallery__item--3 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 5;
        grid-row-end: 9;
      }

      .gallery__item--4 {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 5;
        grid-row-end: 9;
      }


    }
  }


}
@media screen and (max-width: 991px) {
  .one-day .day {
    margin: 5px auto;
  }
  #actual {
    padding: 0 30px;
  }
  .one-gal .layer-txt {
    font-size: 16px;
    text-align: center;
    width: 100%;
  }
  .one-gal .layer-btn {
    color: #fff;
    font-size: 14px;
    border: 2px solid #fff;
    padding: 10px 20px;
    letter-spacing: 1px;
    line-height: 14px;
    text-transform: uppercase;
    text-decoration: none;
    transition: ease 1s;
  }
}
@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 768px) {
  .oneday {
    flex-flow: column;

    &.reverse {
      flex-flow: column;
    }
  }
  .one-galery {
    padding: 0 20px;
    &.reverse {
      flex-flow: column;
    }
    .one-photo {
      height: 50px;
      width: 50px;
      margin: 0;
    }
    .main-img {
      height: 200px;
    }

  }
  .group-container i {
    left: 90%;
  }
}
